<template name="expenses_form">
	<form class="add modal-nav-box panel well form-horizontal" id="form_addExpense">			
		<div class="form-group">
			<label class="col-lg-2 control-label">Control Number</label>
			<div class="col-lg-4">
				<input type="text" name="control_number" class="form-control">
			</div>
			<label class="col-lg-2 control-label">Item</label>
			<div class="col-lg-4">
				<input type="text" name="item" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Description</label>
			<div class="col-lg-4">
				<input type="text" name="description" class="form-control">
			</div>
			<label class="col-lg-2 control-label">Amount</label>
			<div class="col-lg-4">
				<input type="number" class="form-control" name="amount">
			</div>
		</div>

		<div class="form-group">
			<label class="col-lg-2 control-label">Supplier</label>
			<div class="col-lg-4">
				<!-- <input type="password" class="form-control"> -->
				{{>expense_suppliers}}
			</div>
			<label class="col-lg-2 control-label">Date</label>
			<div class="col-lg-4">
				<input type="date" name="date_in" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<div class="col-offset-8 col-lg-4">
				<button type="submit" class="btn btn-primary" id="btnAddExpense">Add</button>	
			</div>
		</div>
	</form>
</template>

<template name="expenses_form2">
	<form class="add modal-nav-box box-hide panel well form-horizontal" id="form_addExpense">
		{{#if editing_expense}}
		{{#each info}}
		<input type="hidden" value="{{_id}}" name="id"/>
		<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Control Number</label>
			<div class="col-lg-4">
				<input type="text" value="{{control_number}}" name="control_number" class="form-control">
			</div>
			<label class="col-lg-2 control-label">Item</label>
			<div class="col-lg-4">
				<input type="text" value="{{item}}" name="item" class="form-control">
			</div>
		</div>
		<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Description</label>
			<div class="col-lg-4">
				<input type="text" value="{{description}}" name="description" class="form-control">
			</div>
			<label class="col-lg-2 control-label">Amount</label>
			<div class="col-lg-4">
				<input type="number" class="form-control" value="{{amount}}" name="amount">
			</div>
		</div>

		<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Supplier</label>
			<div class="col-lg-4">
				<!-- <input type="password" class="form-control"> -->
				{{>expense_suppliers}}
			</div>
			<label class="col-lg-2 control-label">Date</label>
			<div class="col-lg-4">
				<input type="date" value="{{date_in}}" name="date_in" class="form-control">
			</div>
		</div>
		{{/each}}
		{{else}}			
		<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Control Number</label>
			<div class="col-lg-4">
				<input type="text" name="control_number" class="form-control">
			</div>
			<label class="col-lg-2 control-label">Item</label>
			<div class="col-lg-4">
				<input type="text" name="item" class="form-control">
			</div>
		</div>
		<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Description</label>
			<div class="col-lg-4">
				<input type="text" name="description" class="form-control">
			</div>
			<label class="col-lg-2 control-label">Amount</label>
			<div class="col-lg-4">
				<input type="number" class="form-control" name="amount">
			</div>
		</div>

		<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Supplier</label>
			<div class="col-lg-4">
				<!-- <input type="password" class="form-control"> -->
				{{>expense_suppliers}}
			</div>
			<label class="col-lg-2 control-label">Date</label>
			<div class="col-lg-4">
				<input type="date" name="date_in" class="form-control">
			</div>
		</div>
		{{/if}}
		<div class="form-group">
			<div class="col-offset-8 col-lg-4">
				{{#if editing_expense}}
				<button type="button" class="btn btn-primary" id="btnUpdateExpense">Update</button>
				<button type="button" class="btn btn-primary" id="btnCancel">Cancel</button> 
				{{else}}
				<button type="submit" class="btn btn-primary" id="btnAddExpense">Add</button>	
				{{/if}}
			</div>
		</div>
	</form>
</template>

<template name="expenses">
	<table class="table table-striped">
		<tr>
			<th>Control Number</th>
			<th>Item</th>
			<th>Description</th>
			<th>Amount</th>
			<th>Supplier</th>
			<th>Date</th>
			<th>Actions</th>
		</tr>
		{{#each expenses}}
		<tr> 
			<td>{{control_number}}</td>
			<td>{{item}}</td>
			<td>{{description}}</td>
			<td>{{amount}}</td>
			<td>{{get_supplier supplier}}</td>
			<td>{{date_in}}</td>
			<td>
				<button class="btn btn-primary btn-small btnEditExpense" id="{{_id}}">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button class="btn btn-primary btn-small btnRemoveExpense" id="{{_id}}">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
		{{/each}}
	</table>
</template>

<template name="search_expenses">
	<div class="col-lg-4">
		<input type="text" class="form-control " placeholder="Enter item to search" id="e_input">
	</div>
	<button class="btn btn-default">
		Find
	</button>
</template>