<template name="billings">
    <table class="table table-striped">
        <tr>
            <th>Item</th>
            <th>Check #</th>
            <th>Date</th>
            <th>Amount</th>
       
        </tr>
        <tr>
            <td>000069</td>
            <td>434-029-457</td>
            <td>September 15, 2013</td>
            <td>$ 500,000</td>
        </tr>
        <tr>
            <td>041069</td>
            <td>434-029-999</td>
            <td>December 15, 2013</td>
            <td>$ 1,200,000</td>
        </tr>
         <tr>
            <td>910692</td>
            <td>268-029-999</td>
            <td>August 15, 2013</td>
            <td>$ 4,200,000</td>
        </tr>
    </table>
</template>

<template name="billing_form">     
    
</template>