<template name="suppliers">
	<table class="table table-striped">
		<tr>
			<th>Contact Person</th>
			<th>Position</th>
			<th>Company Name</th>
			<th>Company Address</th>
			<th>Contact #</th>
			<th>Email</th>
			<th colspan="2">Actions</th>
		</tr>
		{{#each suppliers}}
		<tr>
			<td>{{contact_person}}</td>
			<td>{{position}}</td>
			<td>{{company_name}}</td>
			<td>{{company_address}}</td>
			<td>{{contact_number}}</td>
			<td>{{email}}</td>
			<td>
				<button class="btn btn-primary btnEditSupplier" id="{{_id}}">
					<i class="icon-edit"></i>
				</button>
			</td>
			<td>
				<button class="btn btn-primary btnRemoveSupplier" id="{{_id}}">
					<i class="icon-trash"></i>
				</button>
			</td>
		</tr>
		{{/each}}
	</table>
</template>

<template name="supplier_form">
	<form class="add modal-nav-box box-hide panel well form-horizontal" id="form_addSupplier">
		{{#if editing_supplier}}
		{{#each info}}
		<input type="hidden" value="{{_id}}" name="id"/>
		<div class="form-group">
			<label class="col-lg-2 control-label">Contact Person</label>
			<div class="col-lg-10">
				<input type="text" value="{{contact_person}}" class="form-control" name="contact_person" required pattern="[a-zA-Z. ]*">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Position</label>
			<div class="col-lg-10">
				<input type="text" value="{{position}}" class="form-control" name="position"  required pattern="[a-zA-Z. ]*">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Company Name</label>
			<div class="col-lg-10">
				<input type="text" value="{{company_name}}" class="form-control" name="company_name" required pattern="[a-zA-Z0-9@-&!#. ]*">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Company Address</label>
			<div class="col-lg-10">
				<input type="text" value="{{company_address}}" class="form-control" name="company_address" required pattern="[a-zA-Z0-9@-&!#. ]*">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Contact Number</label>
			<div class="col-lg-10">
				<input type="text" value="{{contact_number}}" class="form-control" name="contact_number" required pattern="[a-zA-Z0-9@-&!#. ]*">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Email</label>
			<div class="col-lg-10">
				<input type="text" value="{{email}}" class="form-control" name="email" required pattern="[a-zA-Z0-9@-&!#. ]*">
			</div>
		</div>
	{{/each}}
	{{else}}
		<div class="form-group">
			<label class="col-lg-2 control-label">Contact Person</label>
			<div class="col-lg-4">
				<input type="text" class="form-control" name="contact_person" required pattern="[a-zA-Z. ]*">
			</div>
			<label class="col-lg-2 control-label">Position</label>
			<div class="col-lg-4">
				<input type="text" class="form-control" name="position"  required pattern="[a-zA-Z. ]*">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Company Name</label>
			<div class="col-lg-4">
				<input type="text" class="form-control" name="company_name" required pattern="[a-zA-Z0-9@-&!#. ]*">
			</div>
			<label class="col-lg-2 control-label">Company Address</label>
			<div class="col-lg-4">
				<input type="text" class="form-control" name="company_address" required pattern="[a-zA-Z0-9@-&!#. ]*">
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label">Contact Number</label>
			<div class="col-lg-4">
				<input type="text" class="form-control" name="contact_number" required pattern="[a-zA-Z0-9@-&!#. ]*">
			</div>
			<label class="col-lg-2 control-label">Email</label>
			<div class="col-lg-4">
				<input type="text" class="form-control" name="email" required pattern="[a-zA-Z0-9@-&!#. ]*">
			</div>
		</div>
		{{/if}}
		<div class="form-group">
			<div class="col-offset-8 col-lg-4">
				{{#if editing_supplier}}
				<button type="button" class="btn btn-primary" id="btnUpdateSupplier">Update</button>
				<button type="button" class="btn btn-primary" id="btnCancel">Cancel</button> 
				{{else}}
				<button type="submit" class="btn btn-primary" id="btnAddSupplier">Add</button>	
				{{/if}}
			</div>
		</div>
	</form>
</template>

<template name="purchase_order_suppliers">
	<select class="form-control" id="purchase_supplier">
		{{#each suppliers}}
		<option value="{{_id}}">{{name}}</option>
		{{/each}}
	</select>
</template>

<template name="add_inventory_suppliers">
	<select class="form-control" id="add_supplier">
		{{#each suppliers}}
		<option value="{{_id}}">{{name}}</option>
		{{/each}}
	</select>
</template>

<template name="check_suppliers">
	<select class="form-control" name="supplier_id">
		{{#each suppliers}}
		<option value="{{_id}}">{{contact_person}}</option>
		{{/each}}
	</select>
</template>

<template name="expense_suppliers">
	<select name="supplier" class="form-control" id="e1">
		{{#each suppliers}}
		<option value="{{_id}}">{{contact_person}}</option>
		{{/each}}
	</select>
</template>

<template name="search_supplier">
	<div class="col-lg-4">
		<input type="text" class="form-control " placeholder="Enter name here" id="s_input">
	</div>
	<input type="button" class="btn btn-primary" id="s_search" value="Find">
</template>

<template name="suppliers_badge">
	{{suppliers.count}}
</template>