<template name="sale_checksform">
	<form class="add modal-nav-box box-hide panel well form-horizontal" id="addSaleChecks">
	  	<div class="form-group clearfix">
	  		<label class="col-lg-2 control-label">Customer</label>
	      	<div class="btn-group col-lg-10">
				{{> customers_dropdown}}
			</div>
		</div>
	  	<div class="form-group clearfix">
	  		<label class="col-lg-2 control-label">Item</label>
	      	<div class="btn-group col-lg-10">
		  		<button type="button" class="btn btn-default btn-small dropdown-toggle" data-toggle="dropdown">
			    Choose
				<span class="caret"></span>
		  		</button>
		  		<ul class="dropdown-menu">
				    <li><a href="#">Toyota Corolla, Blue</a></li>
				    <li><a href="#">Honda Civic, Black</a></li>
		  		</ul>
			</div>
		</div>
	  	<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Check Number</label>
	    	<div class="col-lg-10">
	      		<input type="text" class="form-control">
			</div>
	  	</div>
	  	<div class="form-group clearfix">
		    <label class="col-lg-2 control-label">Amount</label>
		    <div class="col-lg-10">
		      <input type="text" class="form-control">
		    </div>
	  	</div>
	  	<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Due Date</label>
	    	<div class="col-lg-10">
	      		<input type="date" class="form-control">
	    	</div>
	  	</div>
		<div class="form-group clearfix">
			<div class="col-offset-2 col-lg-10">
			  <button type="submit" class="btn btn-primary">Add</button>
			</div>
		</div>
	</form>
</template>