<template name="billings">
    {{#each get_car_list}}    
        <table class="table table-striped">
            <span><h5>{{maker}} {{model}}  C/N: {{control_number}}</h5></span>
            <tr>
                <th>Check Number</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            {{#each get_payments control_number}}
            <tr>
                {{#if check_number}}
                <td>{{check_number}}</td>
                {{else}}
                <td>CASH</td>
                {{/if}}

                {{#if check_number}}
                    {{#if date_encashed}}
                <td>{{date_encashed}}</td>
                    {{else}}
                <td>{{due_date}}</td>
                    {{/if}}
                {{else}}
                <td>{{date_in}}</td>
                {{/if}}

                <td>{{amount}}</td>

                {{#if check_number}}
                    {{#if date_encashed}}
                <td>PAID</td>
                    {{else}}
                <td>DUE</td>
                    {{/if}}
                {{else}}
                <td>PAID</td>
                {{/if}}
            </tr>
            {{/each}}
        </table>
    {{/each}}        
</template>

<template name="invoices">
    {{#each get_car_list}}    
        <table class="table table-striped">
            <span><h5>{{maker}} {{model}}  C/N: {{control_number}}</h5></span>
            <tr>
                <th>Check Number</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            {{#each get_payments control_number}}
            <tr>
                {{#if check_number}}
                <td>{{check_number}}</td>
                {{else}}
                <td>CASH</td>
                {{/if}}

                {{#if check_number}}
                    {{#if date_encashed}}
                <td>{{date_encashed}}</td>
                    {{else}}
                <td>{{due_date}}</td>
                    {{/if}}
                {{else}}
                <td>{{date_in}}</td>
                {{/if}}

                <td>{{amount}}</td>

                {{#if check_number}}
                    {{#if date_encashed}}
                <td>PAID</td>
                    {{else}}
                <td>DUE</td>
                    {{/if}}
                {{else}}
                <td>PAID</td>
                {{/if}}
            </tr>
            {{/each}}
        </table>
    {{/each}}        
</template>

<template name="billing_form">     
    <form class="add modal-nav-box box-hide panel well form-horizontal" id="form_addCustomer">
       
        <input type="hidden"  name="id"/>
        <div class="form-group">
            <label class="col-lg-2 control-label">Contact Person</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="contact_person" required pattern="[a-zA-Z. ]*">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Position</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="position"  required pattern="[a-zA-Z. ]*">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Company Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="company_name" required pattern="[a-zA-Z0-9@-&!#. ]*">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Company Address</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="company_address" required pattern="[a-zA-Z0-9@-&!#. ]*">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Contact Number</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="contact_number" required pattern="[a-zA-Z0-9@-&!#. ]*">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" name="email" required pattern="[a-zA-Z0-9@-!#. ]*">
            </div>
        </div>
    </form>
</template>