<template name="sale_checksform">
	<form class="add modal-nav-box box-hide panel well form-horizontal" id="addSaleChecks">
		{{#if editing_sale_check}}
		{{#each info}}
		<input type="hidden" value="{{_id}}" name="id"/>
	  	<div class="form-group clearfix">
	  		<label class="col-lg-2 control-label">Customer</label>
	      	<div class="col-lg-4 form">
	      		<div class="form-control">	      			
		  			{{get_customer customer_id}}
	      		</div>
			</div>
			<label class="col-lg-2 control-label">Control Number</label>
	      	<div class="col-lg-4">
	  			<input type="text" value="{{control_number}}" class="form-control" name="control_number" required>
			</div>
		</div>
		<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Bank</label>
	    	<div class="col-lg-4">
	      		<input type="text" value="{{bank}}" class="form-control" name="bank">
			</div>
			<label class="col-lg-2 control-label">Branch</label>
	    	<div class="col-lg-4">
	      		<input type="text" value="{{branch}}" class="form-control" name="branch">
			</div>
	  	</div>
	  	<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Check Number</label>
	    	<div class="col-lg-4">
	      		<input type="text" value="{{check_number}}" class="form-control" name="check_number">
			</div>
			<label class="col-lg-2 control-label">Amount</label>
		    <div class="col-lg-4">
		      <input type="text" value="{{amount}}" class="form-control" name="amount">
		    </div>
	  	</div>
	  	<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Due Date</label>
	    	<div class="col-lg-4">
				<input type="date" value="{{due_date}}" class="form-control" name="due_date">
	    	</div>
	    </div>
	  	{{/each}}
		{{else}}
		<div class="form-group clearfix">
	  		<label class="col-lg-2 control-label">
	  			Customer
  			</label>
	      	<div class="col-lg-3">
		  		{{>check_customers}}
			</div>
			<div class="col-lg-1">
				<a data-toggle="modal" href="#new-customer-modal" class="btn btn-default">
					<i class="icon-plus"></i>
				</a>
			</div>
			<label class="col-lg-2 control-label">Control Number</label>
	      	<div class="col-lg-4">
	  			<input type="text" class="form-control" name="control_number">
			</div>
		</div>
		<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Bank</label>
	    	<div class="col-lg-4">
	      		<input type="text" class="form-control" name="bank">
			</div>
			<label class="col-lg-2 control-label">Branch</label>
	    	<div class="col-lg-4">
	      		<input type="text" class="form-control" name="branch">
			</div>
	  	</div>
	  	<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Check Number</label>
	    	<div class="col-lg-4">
	      		<input type="text" class="form-control" name="check_number">
			</div>
			<label class="col-lg-2 control-label">Amount</label>
		    <div class="col-lg-4">
		      <input type="text" class="form-control" name="amount">
		    </div>
	  	</div>
	  	<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Due Date</label>
	    	<div class="col-lg-4">
	      		<input type="date" class="form-control" name="due_date">
	    	</div>
	    </div>
	    {{/if}}	    
		<div class="form-group clearfix">
			<div class="col-offset-8 col-lg-4">
				{{#if editing_sale_check}}
				<button type="button" class="btn btn-primary" id="btnUpdateSaleCheck">Update</button>
				<button type="button" class="btn btn-primary" id="btnCancel">Cancel</button> 
				{{else}}
				<button type="submit" class="btn btn-primary">Add</button>	
				{{/if}}
			</div>  			
	  	</div>
	</form>
</template>

<template name="purchase_checksform">
	<form class="add modal-nav-box box-hide panel well form-horizontal" id="addPurchaseChecks">
		{{#if editing_purchase_check}}
		{{#each info}}
		<input type="hidden" value="{{_id}}" name="id"/>
	  	<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Control Number (if any)</label>
	      	<div class="btn-group col-lg-4">
	  			<input type="text" value="{{control_number}}" class="form-control" name="control_number">
			</div>
			<label class="col-lg-2 control-label">Description</label>
	      	<div class="btn-group col-lg-4">
	  			<input type="text" value="{{description}}" class="form-control" name="description">
			</div>
		</div>
		<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Bank</label>
	    	<div class="col-lg-4">
	      		<input type="text" value="{{bank}}" class="form-control" name="bank">
			</div>
			<label class="col-lg-2 control-label">Branch</label>
	    	<div class="col-lg-4">
	      		<input type="text" value="{{branch}}" class="form-control" name="branch">
			</div>
	  	</div>
	  	<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Check Number</label>
	    	<div class="col-lg-4">
	      		<input type="text" value="{{check_number}}" class="form-control" name="check_number">
			</div>
			<label class="col-lg-2 control-label">Amount</label>
		    <div class="col-lg-4">
		      <input type="text" value="{{amount}}" class="form-control" name="amount">
		    </div>
	  	</div>
	  	<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Due Date</label>
	    	<div class="col-lg-4">
	      		<input type="date" value="{{due_date}}" class="form-control" name="due_date">
	    	</div>
	  	</div>
	  	{{/each}}
	  	{{else}}
	  	<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Control Number (if any)</label>
	      	<div class="btn-group col-lg-4">
	  			<input type="text" class="form-control" name="control_number">
			</div>
			<label class="col-lg-2 control-label">Description</label>
	      	<div class="btn-group col-lg-4">
	  			<input type="text" class="form-control" name="description">
			</div>
		</div>
		<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Bank</label>
	    	<div class="col-lg-4">
	      		<input type="text" class="form-control" name="bank">
			</div>
			<label class="col-lg-2 control-label">Branch</label>
	    	<div class="col-lg-4">
	      		<input type="text" class="form-control" name="branch">
			</div>
	  	</div>
	  	<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Check Number</label>
	    	<div class="col-lg-4">
	      		<input type="text" class="form-control" name="check_number">
			</div>
			<label class="col-lg-2 control-label">Amount</label>
		    <div class="col-lg-4">
		      <input type="text" class="form-control" name="amount">
		    </div>
	  	</div>
	  	<div class="form-group clearfix">
	    	<label class="col-lg-2 control-label">Due Date</label>
	    	<div class="col-lg-4">
	      		<input type="date" class="form-control" name="due_date">
	    	</div>
	  	</div>
	  	{{/if}}	    
		<div class="form-group clearfix">
			<div class="col-offset-8 col-lg-4">
				{{#if editing_purchase_check}}
				<button type="button" class="btn btn-primary" id="btnUpdatePurchaseCheck">Update</button>
				<button type="button" class="btn btn-primary" id="btnCancel">Cancel</button> 
				{{else}}
				<button type="submit" class="btn btn-primary">Add</button>	
				{{/if}}
			</div>  			
	  	</div>
	</form>
</template>

<template name="sale_checks">
	<table class="table table-striped">
		<tr>
			<th>Due Date</th>
			<th>Check Number</th>
			<th>Control Number</th>
			<th>Bank - Branch</th>
			<th>Customer</th>
			<th>Amount</th>
			<th>Cleared</th>
			<th>RTCK</th>
			<th colspan="2">Actions</th>
		</tr>
		{{#each salechecklist}}
		<tr>
			<td>{{due_date}}</td>
			<td>{{check_number}}</td>
			<td>{{control_number}}</td>
			<td>{{bank}} - {{branch}}</td>
			<td>{{get_customer customer_id}}</td>
			<td>{{amount}}</td>
			<td>
				{{#if date_encashed }}
					<a class="btnRevertEncash" href="#undo" id="{{_id}}">{{date_encashed}}</a>
				{{else}}	
			 		<button class="btn btn-primary btn-small btnEncash" id="{{_id}}">Clear</button>
			 	{{/if}}	
			</td>
			<td>
				{{#if date_bounced }}
					<a class="btnRevertBounce" href="#undo" id="{{_id}}">{{date_bounced}}</a>
				{{else}}
				 <button class="btn btn-primary btn-small btnBounce" id="{{_id}}">RTCK</button>
				{{/if}}
			</td>
			<td>
                <button class="btn btn-primary btn-small btnEditCheck" id="{{_id}}">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
            <td>
                <button class="btn btn-primary btn-small btnRemoveCheck" id="{{_id}}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
		</tr>
		{{/each}}
	</table>
</template>

<template name="purchase_checks">
	<table class="table table-striped">
		<tr>
			<th>Due Date</th>
			<th>Check Number</th>
			<th>Description</th>
			<th>Control Number</th>
			<th>Bank - Branch</th>
			<th>Amount</th>
			<th>Due Date</th>
			<th colspan="2">Actions</th>
		</tr>
		{{#each purchasechecklist}}
		<tr>
			<td>{{due_date}}</td>
			<td>{{check_number}}</td>
			<td>{{description}}</td>
			<td>{{control_number}} </td>
			<td>{{bank}} - {{branch}}</td>
			<td>{{amount}}</td>
			<td>{{due_date}}</td>
			<td>
                <button class="btn btn-primary btn-small btnEditCheck" id="{{_id}}">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
            <td>
                <button class="btn btn-primary btn-small btnRemoveCheck" id="{{_id}}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
		</tr>
		{{/each}}
		</tr>
	</table>
</template>

<template name="accounts_receivable">
	<table class="table table-striped">
		<tr>
			<th>Due Date</th>
			<th>Issue Date</th>
			<th>Check No.</th>
			<th>Customer</th>
			<th>Item</th>
			<th>Amount</th>
		</tr>
		{{#each checks}}
		<tr>
			<td>{{due_date}}</td>
			<td>{{date_in}}</td>
			<td>{{check_number}}</td>
			<td>{{get_customer customer_id}}</td>
			<td>{{item sku}}</td>
			<td>{{amount}}</td>
		</tr>
		{{/each}}
		</tr>
	</table>
</template>

<template name="accounts_payable">
	<table class="table table-striped">
		<tr>
			<th>Due Date</th>
			<th>Issue Date</th>
			<th>Check No.</th>
			<th>Supplier</th>
			<th>Item</th>
			<th>Amount</th>
		</tr>
		{{#each checks}}
		<tr>
			<td>{{due_date}}</td>
			<td>{{date_in}}</td>
			<td>{{check_number}}</td>
			<td>{{get_supplier supplier_id}}</td>
			<td>{{item sku}}</td>
			<td>{{amount}}</td>
		</tr>
		{{/each}}
		</tr>
	</table>
</template>

<template name="purchase_payments">
	<table class="table table-striped">
		<tr>
			<th>Due Date</th>
			<th>Issue Date</th>
			<th>Check No.</th>
			<th>Supplier</th>
			<th>Item</th>
			<th>Amount</th>
		</tr>
		{{#each checks}}
		<tr>
			<td>{{due_date}}</td>
			<td>{{date_in}}</td>
			<td>{{check_number}}</td>
			<td>{{get_supplier supplier_id}}</td>
			<td>{{item sku}}</td>
			<td>{{amount}}</td>
		</tr>
		{{/each}}
		</tr>
	</table>
</template>

<template name="accounts_receivable_badge">
	{{checks.count}}
</template>

<template name="accounts_payable_badge">
	{{checks.count}}
</template>

<template name="sale_checks_badge">
	{{sale_checks.count}}
</template>

<template name="purchase_checks_badge">
	{{purchase_checks.count}}
</template>

<template name="sold_checks">
	<table class="table table-striped">
		<tr>
			<th>Check Number</th>
			<th>Control Number</th>
			<th>Car Info</th>
			<th>Bank - Branch</th>
			<th>Customer</th>
			<th>Amount</th>
		</tr>
		{{#each checklist}}
		{{#if customer_id}}
		<tr>
			<td>{{check_number}}</td>
			<td>{{control_number}}</td>
			<td>{{get_car_maker control_number}} {{get_car_model control_number}}</td>
			<td>{{bank}} - {{branch}}</td>
			<td>{{get_customer customer_id}}</td>
			<td>{{amount}}</td>
		</tr>
		{{/if}}
		{{/each}}
	</table>
</template>

<template name="search_checks">
	<div class="col-lg-4">
		<input type="text" class="form-control " placeholder="Enter item to search" id="checksearch">
	</div>
	<button class="btn btn-default">
		Find
	</button>
</template>

<template name="search_checks2">
	<div class="col-lg-4">
		<input type="text" class="form-control " placeholder="Enter item to search" id="checksearch2">
	</div>
	<button class="btn btn-default">
		Find
	</button>
</template>

<template name="search_banks">
	<div class="col-lg-4">
		<input type="text" class="form-control " placeholder="Enter item to search" id="banksearch">
	</div>
	<button class="btn btn-default">
		Find
	</button>
</template>

<template name="bank_list">
    <div class="accordion" id="accordion3">
    	<div class="form-horizontal">
	    	<div class="form-group clearfix">
		    	<label class="col-lg-2 control-label">Start Date</label>
		    	<div class="col-lg-4">
					<input type="date" class="form-control" name="start_date" id="start_date">
		    	</div>
		    	<label class="col-lg-2 control-label">End Date</label>
		    	<div class="col-lg-4">
					<input type="date" class="form-control" name="end_date" id="end_date">
		    	</div>
		    </div>
	   	</div>
        {{#each banks}}
        {{#if bank}}
	        <div class="accordion-group">
	            <div class="accordion-heading">
	                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#accordion{{bank}}">
	                    {{bank}}
	                </a>
	            </div>
	            <div id="accordion{{bank}}" class="accordion-body collapse">
	                <div class="accordion-inner">
	                    <div class="table-body hidexbar">
	                    	<table class="table table-striped">
	                    		<tr>
	                    			<th>Cash In</th>
	                    			<th>Cash Out</th>
	                    			<th>Net Amount</th>
	                    		</tr>
	                    		<tr>
	                    			<td>{{cash_in}}</td>
	                    			<td>{{cash_out}}</td>
	                    			<td>{{total}}</td>
	                    		</tr>
	                    	</table>
	                    </div>
	                    {{#each months}}
	                    {{#if month_due}}
	                    <div class="table-body hidexbar">
	                    <br/>
	                    {{month_due}}
	                    	<table class="table table-striped">
	                    		<tr>
	                    			<th>Date</th>
	                    			<th>Check #</th>
	                    			<th>Amount</th>
	                    			<th>I/O</th>
	                    			<th>C/N</th>
	                    		</tr>
                    		{{#each get_checks bank month_due}}
                    			<tr>
                    				<td>{{due_date}}</td>
                    				<td>{{check_number}}</td>
                    				<td>{{amount}}</td>
                    				{{#if customer_id}}
                    				<td>IN</td>
                    				{{else}}
                    				<td>OUT</td>
                    				{{/if}}
                    				{{#if control_number}}
                    				<td>{{control_number}}</td>
                    				{{else}}
                    				<td>Not Available</td>
                    				{{/if}}
                    			</tr>
                    		{{/each}}
                    		</table>
	                    </div>
	                    {{/if}}
	                    {{/each}}
	                </div>
	            </div>
	        </div>
	    {{/if}}
        {{/each}}
    </div>
</template>