<template name="sales_orders">
  <table class="table table-striped">
    <tr>
      <th>Customer</th>
      <th>Item</th>
      <th>Chassis No.</th>
      <th>Engine No.</th>
      <th>Price</th>
      <th>Delivery Date</th>
      <th>Actions</th>
    </tr>
    {{#each cars_out}}
    <tr>
      <td>{{get_customer customer_id}}</td>
      <td>{{item sku}}</td>
      <td>{{chassis_number}}</td>
      <td>{{engine_number}}</td>
      <td>{{price}}</td>
      <td>{{delivery_date}}</td>
      <td>
        <button class="btn btn-primary btnEditSO" id="{{_id}}">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <button class="btn btn-primary btnRemoveSO" id="{{_id}}">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </td>
    </tr>
    {{/each}}
  </table>
</template>

<template name="sales_order_form">
	<form class="form-horizontal" id="form_addSO">
		<div class="form-group clearfix">
      		<label class="col-lg-2 control-label">Customer</label>
	      	<div class="col-lg-10">
				   {{> sale_order_customers}}
			</div>
		</div>
	  	<div class="form-group clearfix">
      		<label class="col-lg-2 control-label">Item</label>
	      	<div class="col-lg-10">
				   {{> sale_order_items}}
			</div>
		</div>
	  	<div class="form-group clearfix">
		    <label class="col-lg-2 control-label">Chassis No.</label>
		    <div class="col-lg-10">
		      <input type="text" class="form-control" name="so_chassis" id="so_chassis" required pattern="[a-zA-Z. ]*" placeholder="Chassis No.">
		    </div>
	  	</div>
	  	<div class="form-group clearfix">
		    <label class="col-lg-2 control-label">Engine No.</label>
		    <div class="col-lg-10">
		      <input type="text" class="form-control" name="so_engine" id="so_engine" required pattern="[a-zA-Z. ]*" placeholder="Engine No.">
		    </div>
	  	</div>
	  	<div class="form-group clearfix">
		    <label class="col-lg-2 control-label">Price</label>
		    <div class="col-lg-10">
		      <input type="text" class="form-control" name="so_price" id="so_price" required pattern="[0-9,]*" placeholder="Price">
		    </div>
	  	</div>
	  	<div class="form-group clearfix">
		    <label class="col-lg-2 control-label">Delivery Date</label>
		    <div class="col-lg-10">
		      <input type="date" class="form-control" name="so_delivery" id="so_delivery" required>
		    </div>
	  	</div>
	  	<div class="form-group clearfix">
		    <div class="col-offset-2 col-lg-10">
		      <input href="#s-order-modal" data-toggle="modal" data-dismiss="modal" type="button" class="btn btn-primary" id="btnAddSO" value="Add">
		    </div>
	  	</div>
	</form>
</template>

<template name="purchase_orders">
	<table class="table table-striped">
		<tr>
			<th>Supplier</th>
			<th>Item</th>
			<th>Price</th>
			<th>Delivery Date</th>
			<th>Actions</th>
		</tr>	
    	{{#each purchases}}
    	<tr>
			<td>{{get_supplier supplier_id}}</td>
			<td>{{item sku}}</td>
			<td>{{price}}</td>
			<td>{{delivery_date}}</td>
			<td>
				<button class="btn btn-primary btnEditPO" id="{{_id}}">
			  		<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button class="btn btn-primary btnRemovePO" id="{{_id}}">
			  		<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
    	</tr>
    	{{/each}}
	</table>
</template>

<template name="purchase_order_form">
	<form id="form_addPO">
		<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Supplier</label>
			<div class="col-lg-10">
		    {{> purchase_order_suppliers}}
		  </div>
		</div>
		<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Maker</label>
			<div class="col-lg-10">
		  </div>
		</div>
		<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Model</label>
			<div class="col-lg-10">
		  </div>
		</div>
		<div class="form-group clearfix">
			<label class="col-lg-2 control-label">Color</label>
			<div class="col-lg-10">
		  </div>
		</div>
		<div class="form-group clearfix">
		    <label class="col-lg-2 control-label">Price</label>
		    <div class="col-lg-10">
		      <input type="text" class="form-control" name="po_" id="po_price" required pattern="[0-9,]*" placeholder="Price">
		    </div>
	  	</div>
	  	<div class="form-group clearfix">
		    <label class="col-lg-2 control-label">Delivery Date</label>
		    <div class="col-lg-10">
		      <input type="date" class="form-control" name="po_delivery" id="po_delivery" required>
		    </div>
	  	</div>
		<div class="form-group clearfix">
			<div class="col-offset-2 col-lg-10">
		      <input href="#p-order-modal" data-toggle="modal" data-dismiss="modal" type="button" class="btn btn-primary" id="btnAddPO" value="Add">
		    </div>
		</div>
	</form>
</template>

<template name="sales_orders_badge">
	{{cars_out.count}}
</template>

<template name="purchase_orders_badge">
	{{purchase_orders.count}}
</template>